:root{
    --primary: #1A4D2E;
    --primary-010: #4F6F52;
    --primary-020: #789461;

    --red: #BF3131;
    --red-010: #DD5746;

    --white: #fff;
    --white-010: #E8DFCA;
    --white-020: #F5EFE6;


    --black: #10101a;
    --black-010: #2a2a30;

    --grey: #9b9ba0;

    
}